<?xml version="1.0"?>
<connectionStrings>
  <clear />
  <!--<add name="SageFrameConnectionString" connectionString="Data Source=WE7NAA\STARTFLEET;Initial Catalog=aspxcommerce;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=12345678;Connect Timeout=120" providerName="System.Data.SqlClient" />-->
  <add name="SageFrameConnectionString" connectionString="DATA SOURCE=orcl;PASSWORD=12345678;PERSIST SECURITY INFO=True;USER ID=NOP" providerName="Oracle.DataAccess.Client" />
  <add name="orclConnString" connectionString="DATA SOURCE=orcl;PASSWORD=2013$sfleet1;PERSIST SECURITY INFO=True;USER ID=STARTFLEET" providerName="Oracle.DataAccess.Client" />
  <add name="orclASPnet" connectionString="DATA SOURCE=orcl;PASSWORD=aspNET32;PERSIST SECURITY INFO=True;USER ID=ASPNET_DB_USER" providerName="Oracle.DataAccess.Client" />
</connectionStrings>